<h1>Auctions</h1>
<ul>
    {% for auction in auctions %}
        <li>
            <h2>{{ auction.auction_number }} - <span style="font-weight: bold; color: {% if auction.status == 'Upcoming' %}blue{% elif auction.status == 'Active' %}green{% else %}red{% endif %};">{{ auction.status }}</span></h2>
            <ul>
                {% for listing in auction.listings.all %}
                    <li>
                        <a href="{% url 'listing_detail' listing.id %}">{{ listing.title }}</a> - KES. {{ listing.base_price }}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'set_auction' %}">Set a New Auction</a>
